{% extends "_base.html" %} {% load static %} {% block content %} 
<div class="home-container">
  <div class="cover-box"></div>

  <!--  body  -->
  <div class="body-row">
    <div class="body-row-1">
      <h1 class="head-1">درباره آموزشگاه سره مینو</h1>
      <div class="description-row-1">
        <div class="box-item-1">
          <h3 class="head-box">
            برای آن که شما مسیر موفقیت را سریع تر بپیمایید و صفر تا صد کامپیوتر
            را بدون هیچ پیش نیازی یاد بگیرید و وارد بازار کار شده و کسب درآمد
            کنید انواع فیلم آموزش کامپیوتر به زبان ساده را در حوزه های مختلف
            برای شما عزیزان فراهم کرده ایم. در اموزش کامل کامپیوتر شما برای ورود
            به حوزه های مختلف آماده میشوید و با مشاهده فیلم آموزش کامپیوتر برای
            ورود به بازار کار آماده میشوید. .
          </h3>
        </div>

        <div class="box-item-2"></div>
      </div>

      <h1 class="head-2">پر طرفدارترین دوره ها</h1>
      <h1>دوره های محبوب یادگیری</h1>

      <div class="box-image-1">
        <img src="{% static "picture/ICdl-pro-in.jpg" %}" alt="" class="image-1"
        /> <img src="{% static "picture/ICdl-pro-in.jpg" %}" alt=""
        class="image-1" />
        <img src="{% static "picture/ICdl-pro-in.jpg" %}" alt="" class="image-1" />
        <img src="{% static "picture/ICdl-pro-in.jpg" %}" alt="" class="image-1" />
      </div>

      <div class="baner">
        <div class="baner-item"></div>
        <div class="baner-item"></div>
      </div>

      <h1 class="head-3"></h1>
      <p class="p4">
        دوره های آموزشی به صورت کاملا عملی و طبق استاندارد فنی حرفه ای،توسط
        اساتید مجرب برگزار میشود
      </p>
    </div>

    <div class="body-row-2">
      {% for item in book %}
        <div class="box-item2">
        <a href="">
          <img src="{% static "picture/images-1.jpg" %}" alt="" class="banner-title" />
        </a>
        <h2 class="head-5">معرفی دوره</h2>
        <div class="title-description">
          <h4>نام دوره :</h4>
          <h4>{{item.name}}</h4>
        </div>

        <div class="Course">
          <h3>تعداد جلسات دوره :</h3>
          <h3>{{item.number_of_sessions}}/h3>
        </div>
        <div class="Course">
          <h3>شهریه دوره :</h3>
          <h3>{{item.price}}</h3>
        </div>

        <div class="teacher-icdl">
          <h3>نام مدرس :</h3>
          <h3>{{item.teacher_name}}</h3>
        </div>
      </div>
      {% endfor %}
      

      

      
    </div>

    <div class="show-all">
      <h3 class="show-head"><a href="index.html">نمایش همه </a></h3>
      <a href=""
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          class="show-icon"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
          />
        </svg>
      </a>
    </div>
    <p class="p3">
      فتوشاپ و مدیریت رنگ در عکاسی فتوشاپ یکی از قدرتمندترین نرم افزارهای ویرایش
      تصویر است که برای عکاسان، طراحان گرافیک، هنرمندان و کاربران مختلفی که به
      ویرایش تصاویر علاقه‌مند هستند، بسیار مفید است. اما برای به درستی کار کردن
      با فتوشاپ در عکاسی، باید با مدیریت رنگ در عکاسی آشنا باشید و از این ویژگی
      در فتوشاپ به درستی استفاده کنید. در فتوشاپ، برای مدیریت رنگ در عکاسی، می
      توانید از گزینه های بسیاری استفاده کنید. این ویژگی‌ها به شما امکان می‌دهند
      تا رنگ‌های تصویر را به دلخواه خود تنظیم کنید و به راحتی تطبیق رنگ‌ها بین
      دو دستگاه مختلف را انجام دهید. به طور کلی، مدیریت رنگ در عکاسی و استفاده
      از ویژگی‌های مدیریت رنگ در فتوشاپ، بسیار مهم است و به شما امکان می‌دهد تا
      تصاویر با رنگ‌های دقیق‌تر و واقعی‌تر ایجاد کنید.
    </p>

    <h1 class="head-1">امتیازات شرکت در دوره های سره مینو</h1>
    <div class="box-score">
      <div class="score">
        <span class="p1-score-item"> Lorem ipsum dolor sit amet.</span>
        <span class="p2-score-item"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere
          veniam ducimus cumque esse nobis quia minus asperiores reprehenderit
          tenetur?
        </span>
      </div>

      <div class="score">
        <span class="p1-score-item"> Lorem ipsum dolor sit amet.</span>
        <span class="p2-score-item"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere
          veniam ducimus cumque esse nobis quia minus asperiores reprehenderit
          tenetur?
        </span>
      </div>
      <div class="score">
        <span class="p1-score-item"> Lorem ipsum dolor sit amet.</span>
        <span class="p2-score-item"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere
          veniam ducimus cumque esse nobis quia minus asperiores reprehenderit
          tenetur?
        </span>
      </div>

      <div class="score">
        <span class="p1-score-item"> Lorem ipsum dolor sit amet.</span>
        <span class="p2-score-item"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere
          veniam ducimus cumque esse nobis quia minus asperiores reprehenderit
          tenetur?
        </span>
      </div>

      <div class="score">
        <span class="p1-score-item"> Lorem ipsum dolor sit amet.</span>
        <span class="p2-score-item"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere
          veniam ducimus cumque esse nobis quia minus asperiores reprehenderit
          tenetur?
        </span>
      </div>

      <div class="score">
        <span class="p1-score-item"> Lorem ipsum dolor sit amet.</span>
        <span class="p2-score-item"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere
          veniam ducimus cumque esse nobis quia minus asperiores reprehenderit
          tenetur?
        </span>
      </div>
    </div>

    {% endblock content %}
  </div>
</div>
