{% extends "_base.html" %} {% load static %} {% block title %}تقویم های درسی{% endblock title %} {% block content %}

<div class="container">
  <div class="container-Seasonal-courses">
    <div class="body-row-2">
      
      {% for item in courses %}

        <div class="box-item2">
          <a href="/educational/">
            <img src="{% static "picture/images-1.jpg" %}" alt="" class="banner-title" />
          </a>
          <h2 class="head-5">معرفی دوره</h2>
          <div class="title-description">
            <h4>نام دوره :</h4>
            <h4>{{ item.name }}</h4>
          </div>

          <div class="Course">
            <h3>تعداد جلسات دوره :</h3>
            <h3>{{item.number_of_sessions}}</h3>
          </div>
          <div class="Course">
            <h3>شهریه دوره :</h3>
            <h3>{{item.price}} تومان</h3>
          </div>

          <div class="teacher-icdl">
            <h3>نام مدرس :</h3>
            <h3>{{item.teacher_name}}</h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <h1 class="h1">جدول زمان بندی کلاس ها</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>شماره</th>
          <th>نام</th>
          <th>ایمیل</th>
          <th>شماره تلفن</th>
          <th>وضعیت</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>زهرا احمدی</td>
          <td>zahra@example.com</td>
          <td>09123456789</td>
          <td>فعال</td>
        </tr>
        <tr>
          <td>2</td>
          <td>رضا محمدی</td>
          <td>reza@example.com</td>
          <td>09357681234</td>
          <td>غیرفعال</td>
        </tr>
        <tr>
          <td>3</td>
          <td>سارا حسینی</td>
          <td>sara@example.com</td>
          <td>09012345678</td>
          <td>فعال</td>
        </tr>
        <tr>
          <td>4</td>
          <td>امیر کاظمی</td>
          <td>amir@example.com</td>
          <td>09981234567</td>
          <td>منتظر</td>
        </tr>
        <tr>
          <td>5</td>
          <td>مریم دوست‌محمدی</td>
          <td>maryam@example.com</td>
          <td>09155667788</td>
          <td>فعال</td>
        </tr>
        <tr>
          <td>5</td>
          <td>مریم دوست‌محمدی</td>
          <td>maryam@example.com</td>
          <td>09155667788</td>
          <td>فعال</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="body-row-2">
    {% for item in courses %}

        <div class="box-item2">
          <a href="/educational/">
            <img src="{% static "picture/images-1.jpg" %}" alt="" class="banner-title" />
          </a>
          <h2 class="head-5">معرفی دوره</h2>
          <div class="title-description">
            <h4>نام دوره :</h4>
            <h4>{{ item.name }}</h4>
          </div>

          <div class="Course">
            <h3>تعداد جلسات دوره :</h3>
            <h3>{{item.number_of_sessions}}</h3>
          </div>
          <div class="Course">
            <h3>شهریه دوره :</h3>
            <h3>{{item.price}} تومان</h3>
          </div>

          <div class="teacher-icdl">
            <h3>نام مدرس :</h3>
            <h3>{{item.teacher_name}}</h3>
          </div>
        </div>
      {% endfor %}
    

    

    
    </div>
  </div>

  <br /><br />
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>شماره</th>
          <th>نام</th>
          <th>ایمیل</th>
          <th>شماره تلفن</th>
          <th>وضعیت</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>زهرا احمدی</td>
          <td>zahra@example.com</td>
          <td>09123456789</td>
          <td>فعال</td>
        </tr>
        <tr>
          <td>2</td>
          <td>رضا محمدی</td>
          <td>reza@example.com</td>
          <td>09357681234</td>
          <td>غیرفعال</td>
        </tr>
        <tr>
          <td>3</td>
          <td>سارا حسینی</td>
          <td>sara@example.com</td>
          <td>09012345678</td>
          <td>فعال</td>
        </tr>
        <tr>
          <td>4</td>
          <td>امیر کاظمی</td>
          <td>amir@example.com</td>
          <td>09981234567</td>
          <td>منتظر</td>
        </tr>
        <tr>
          <td>5</td>
          <td>مریم دوست‌محمدی</td>
          <td>maryam@example.com</td>
          <td>09155667788</td>
          <td>فعال</td>
        </tr>
        <tr>
          <td>5</td>
          <td>مریم دوست‌محمدی</td>
          <td>maryam@example.com</td>
          <td>09155667788</td>
          <td>فعال</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
