{% extends "_base.html" %} {% load static %} {% block title %} درباره ما {% endblock title %} {% block content %}
<link rel="stylesheet" href="{% static "css/darbare.css" %}">

<body>
  <div class="container">
    <div class="container-about">
      <h1 class="header-academi-adress">آدرس آموزشگاه</h1>
      <h2 class="address-academi">
        استان گلستان - شهرستان مینودشت - خیابان سید جمال الدین - نبش کوچه فرهنگ
        - آموزشگاه کامپیوتری سره مینو
      </h2>
      <h1 class="header-academi-adress">مدیریت آموزشگاه</h1>
      <div class="data-management">
        <h2>مدیر آموزشگاه</h2>
        <h2>محدثه مصطفی لو</h2>
      </div>
      <div class="data-management">
        <h2>شماره تماس</h2>
        <h2>09112766265</h2>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
